body {
    font-family: Calibri;
}

p {
    margin: 0%;
    text-align: center;
    font-size: large;
    padding-left: 12px;
    padding-right: 12px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.raspored {
    border-collapse: collapse;
    width: auto;
    margin-bottom: 21px;
}

.praksa {
    border-collapse: collapse;
    width: 911px;
}

.tekst {
    font-size: 30pt;
}