body {
    color: rgb(0, 0, 96);
}

#drugi {
    text-align: center;
    text-decoration: underline;
}

h1 {
    text-decoration: overline;
}

#prvi {
    text-indent: 50px;
    letter-spacing: 5px;
}

#treci {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited {
    color: chocolate;
}

a:hover {
    color: ghostwhite;
}